<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    bootstrap="./tests/Bootstrap.php" 
    colors="true"
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="con-varnish-test">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
