<?php
return [
    'varnish' => [
        /**
         * deny: do not cache if no match
         */
        'policy' => \ConVarnish\Options\VarnishOptions::POLICY_DENY,
        /**
         * enable caching
         */
        'cache_enabled' => false,
        /**
         * enable esi processing
         */
        'use_esi' => false,
        /**
         * default ttl if policy == allow
         */
        'default_ttl' => 14400,
        /**
         * inject x-debug headers
         */
        'debug' => false,
        /**
         * varnish servers
         */
        'servers' => [
            'default' => [
                'ip' => '127.0.0.1',
                'port' => 6081
            ]
        ],
        /**
         * set ttl per controller action.
         *
         * use false as ttl to disable caching for this action         *
         *
         * supports wildcard (*)
         *
         * [
         *   'Application\Controller\Index::view' => 120,
         *   'Application\Controller\Index*' => 240,
         *   'User\Controller\Account*' => false
         * ]
         */
        'cacheable_actions' => [],
        /**
         * set ttl per matched route name
         *
         * use false as ttl to disable caching for this route
         *
         * suports wildcard (*)
         *
         * [
         *     'application/default' => 120,
         *     'application/*' => 3600,
         *     'user/account*' => false
         * ]
         */
        'cacheable_routes' => [],
        /**
         * registered caching strategies
         *
         * [service name => priority]
         */
        'caching_strategies' => [
            \ConVarnish\Strategy\ActionStrategy::class  => 2000,
            \ConVarnish\Strategy\RouteStrategy::class   => 1500,
            \ConVarnish\Strategy\EsiStrategy::class     => 1000,
            \ConVarnish\Strategy\DefaultStrategy::class => 500
        ]
    ]
];
