<?php
return [
    'varnish' => [
        /**
         * enable caching
         */
        'cache_enabled' => false,
        /**
         * enable esi processing
         */
        'use_esi' => false,
        /**
         * default ttl when no specified in 'cacheable_routes'
         */
        'default_ttl' => 14400,
        /**
         * varnish servers
         */
        'servers' => [
            'default' => [
                'host' => 127.0.0.1,
                'port' => 80
            ]
        ],
        'cacheable_routes' => [
            /**
             * format:
             *
             * routeName => options
             *
             * e.g.:
             *   cache route 'home' for 60 seconds
             *  'home' => [
             *      'ttl' => 60
             *  ]
             *
             *  cache all routes that start with application for 120 seconds
             *  'application*' => 120
             */
        ]
    ]
];
