<?php
return [
    'varnish' => [
        /**
         * enable caching
         */
        'cache_enabled' => false,
        /**
         * enable esi processing
         */
        'use_esi' => false,
        /**
         * default ttl when no specified in 'cacheable_routes'
         */
        'default_ttl' => 14400,
        /**
         * inject x-debug headers
         */
        'debug' => false,
        /**
         * varnish servers
         */
        'servers' => [
            'default' => [
                'ip' => '127.0.0.1',
                'port' => 80
            ]
        ],
        /**
         * list of uncacheable routes
         */
        'uncacheable_routes' => [
            'application*',
            //'home'
        ],
        'cacheable_routes' => [
            /**
             * format:
             *
             * routeName => ttl
             *
             * cache all routes that start with application* for 120 seconds
             *  'application*' => 120
             *
             * cache this route for 1 hour
             *  'application/default' => 3600
             */
        ]
    ]
];
