<?php
return array(
    'varnish' => array(
        'cache_enabled' => false,
        'use_esi' => false,
        'default_ttl' => 14400,
        'servers' => array(
            'default' => array(
                'host' => 127.0.0.1,
                'port' => 80
            )
        ),
        'cacheable_routes' => array(
            'home' => array(
                'ttl' => 60
            )
        )
    )
);
